
e.py
new_code_base.py
new_code_base_2.py
input.wav
hotword/prediction.py
dummy.py
.env
config.ini
/functions/ai_res/__pycache__
/functions/browser/__pycache__
functions/ai_res/test.py
/functions/system/__pycache__
